---
layout: default
---
<style>
	a {
		margin-left: 30px
	}
</style>

<div class="home">

	<h1>Lecture Slides for MUCT 1250</h1>

	<ul class="post-list">

		{% assign sortedPages = site.pages | sort: 'title' %}

{% comment %}
MUCT 1250 lectures
{% endcomment %}

		{% for page in sortedPages %}
			{% if page.path contains "assets" %}
			{% else %}
				{% if page.path contains "/" %}
					{% assign classNumber = page.path | split: "/" | first %}

					{% if classNumber == "1250" %}
						<li>
							<h2>
								<a class="post-link" href="{{ page.path }}">{{ page.title }}</a>
							</h2>
						</li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}

		</ul>

<h1>Lecture Slides for MUCT 4310</h1>

<ul class="post-list">

	{% comment %}
	MUCT 4310 lectures
	{% endcomment %}

			{% for page in sortedPages %}
				{% if page.path contains "assets" %}
				{% else %}
					{% if page.path contains "/" %}
						{% assign classNumber = page.path | split: "/" | first %}

						{% if classNumber == "4310" %}
							<li>
								<h2>
									<a class="post-link" href="{{ page.path }}">{{ page.title }}</a>
								</h2>
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}

	</ul>

	<h1>Other lectures</h1>

	<ul class="post-list">

		{% comment %}
		other lectures
		{% endcomment %}

				{% for page in sortedPages %}
					{% if page.path contains "assets" %}
					{% else %}
						{% if page.path contains "/" %}
							{% assign classNumber = page.path | split: "/" | first %}

							{% if classNumber == "other" %}
								<li>
									<h2>
										<a class="post-link" href="{{ page.path }}">{{ page.title }}</a>
									</h2>
								</li>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}

		</ul>

</div>
