---
layout: default
---

<div class="home">

	<h1 class="page-heading">Lecture Slides</h1>

	<ul class="post-list">

		{% for page in site.pages %}
			{% if page.path contains "assets" %}
			{% else %}
				{% if page.path contains "/" %}
					{% assign path = page.path | split: "/" %}
					<li>
						<span class="post-meta">MUCT {{ path | first }}</span>
						<h2>
							<a class="post-link" href="{{ page.path }}">{{ page.title }}</a>
						</h2>
					</li>
				{% endif %}
			{% endif %}
		{% endfor %}

	</ul>
</div>
