---
layout: default
---

<div class="home">

	<h1 class="page-heading">Directory</h1>

	{{ content }}

	<ul class="post-list">
			<li>
				<span class="post-meta">MUCT 1020</span>
				<h2>
					<a class="post-link" href="1020/">Global Popular Music</a>
				</h2>
			</li>
			<li>
				<span class="post-meta">MUCT 1250</span>
				<h2>
					<a class="post-link" href="1250/">Introduction to World Music</a>
				</h2>
			</li>
			<li>
				<span class="post-meta">MUCT 1250H</span>
				<h2>
					<a class="post-link" href="1250H/">Introduction to World Music (Honors)</a>
				</h2>
			</li>
			<li>
				<span class="post-meta">MUCT 2360</span>
				<h2>
					<a class="post-link" href="2360/">Area Studies</a>
				</h2>
  			</li>
			<li>
				<span class="post-meta">MUCT 4310</span>
				<h2>
					<a class="post-link" href="4310/">Aesthetics of Black Music</a>
				</h2>
  			</li>
	</ul>
</div>
